* { direction: rtl; }

#column-left{ float:right; }
#column-right{ float:left; }

#column-left + #content {    margin-left: 0;  margin-right: 233px;}
#column-right + #content {    margin-right: 0;  margin-left: 233px;}
#column-left + #column-right + #content{margin-right: 233px;margin-left: 233px;}

 #header .header-left  { float:right;  }
#header .header-right  { float:left; }
#header #cart{ right:auto;  left:0;   }
#header #cart .heading span  ,#header #cart.active .heading span
{ 
	background:url("../../image/megnor/Cart.png") no-repeat scroll right center transparent;
	padding-left:0px; padding-right:30px;display:inline-block;   }  

#header #cart .heading{padding:0;background:none;}

 #header .links a, #header #welcome a + a{ background-position:right center; }
 #header .links a, #header #welcome a{ padding:0 7px 0 0;  }
  #header #welcome a{ display:inline-block; }
 
 #currency , #language{   float:right;}
 .ie7  #currency , .ie7  #language{ display:inline-block !important; position:relative; z-index:9999 !important; float:right;  }
 .ie7 .language_div,.ie7 .currency_div{ right:0; }
 .ie7 .breadcrumb ul li{ display:inline; }
 
  .breadcrumb a{  display: inline-block; }

 
 /***********    FLOAT:LEFT       **********/
#header #cart .heading , #header .links , #header #welcome , .treeview-list .hitarea , #header #cart .content  , .pagination .links , .success .close, .warning .close, .attention .close, .information .close ,  .cart-right-area , .cart-total table , .checkout-content .right , .buttons .right  , .product-filter .sort , .sitemap-info .right , .return-list .return-status , .product-list .price ,.home .banner  {float:left;}

 /***********    FLOAT:RIGHT      **********/
 .main-menu > ul > li  ,  #header #search , .category-list ul li, .product-list .left , .product-list .wishlist , .pagination .results , .product-info .review .share  ,.review-list .author , .review-list .date , .review-list .rating , .cart-left-area , .buttons .left , .product-filter .display , .contact-info .left , .sitemap-info .left , .manufacturer-list ul , .return-list .return-content div  ,#content .aboutus .image1 , #content .aboutus .image2 , #content .aboutus .image3 , #content .aboutus .image4 ,#content .product-list .compare,#footer-container #footer .image-right{float:right;}

/***********    TEXT-ALIGN:RIGHT      **********/
#header, .nav-inner, .content-inner, .footer-inner , #content .product-list .product-block-inner ,  .attribute thead tr td:first-child , .cart-buttons .center , table.list .left , .compare-info thead td, .compare-info thead tr td:first-child , span.customSelect , .currency_div a, .language_div a  , #column-left .box-product .cart .button, #column-right .box-product .cart .button{ text-align:right; }

/***********    TEXT-ALIGN:LEFT      **********/
.cart-right-area .checkout-button , .checkout-heading a , .return-list .return-info , .cart-right-area .checkout-button, .checkout-heading a, .return-list .return-info{ text-align:left; }
 
 
.ie7  .main-menu > ul > li > a { display:inline-block;}
.ie7  .main-menu > ul > li > ul{ left:auto; right:0 !important; top:42px;}
.main-menu > ul > li ul > li > ul{ margin-left:0; margin-right:-5px;}
.main-menu > ul > li ul > li > a { position:relative;}
.flex-control-nav{ right:auto; left:20px; padding:0;}
 
.sale{ left:10px; right:auto; }
.product-list .sale{  left: auto;
    right: 10px; }
#header #search input{ padding:7px 7px 7px 33px; }
#header .button-search{ left:0; right:auto; }
#language .language_div img{ margin-left:5px; margin-right:0; }
.horizontal_new_product{clear:none;}
#footer .column ul{ padding-right:0; }
#topcontrol .top_button{right:auto;left:10px;}
.success .close, .warning .close, .attention .close, .information .close{ left: 10px;  right: auto;}
.success, .warning, .attention, .information{ padding:10px 33px 10px 10px; background-position: right 10px; }
.customNavigation a.prev { left:0px;  right: auto;}
.customNavigation a.next{ left:25px;  right: auto; }
.main-menu > ul > li ul > li > a.activSub{background: url("../../image/megnor/rtl/menu_dropdown_rtl.png") no-repeat scroll left center; }
.main-menu > ul > li ul > li:hover > ul {	left:auto; right:195px;}
.product-list .wishlist{ margin-right:0 ; margin-left:10px; }

.product-grid-list .wishlist a, 
#content .box-product .wishlist a
{
	padding-right:18px; 
  	padding-left:0; 
	background:url("../../image/compare.png") no-repeat scroll right 5px transparent; 
  	display:inline-block; 
}

#content .product-grid .last_item_tm .product-block, 
#content .productbox-grid .last_item_tm .product-block
{	margin-left:0px ;
    margin-right: 6px !important;
}
#content .product-grid .first_item_tm .product-block, 
#content .productbox-grid .first_item_tm .product-block
{	margin-left: 6px !important;
    margin-right: 0px;
}

.product-grid-list .compare a, 
#content .box-product .compare a
{
  padding-right:18px; 
  padding-left:0;
background:url("../../image/compare.png") no-repeat scroll right  -31px !important; 
  display:inline-block; 
}


.product-grid-list .wishlist a:hover, 
#content .box-product .wishlist a:hover
{background-position:right -12px;}
.product-grid-list .compare a:hover, 
#content .box-product .compare a:hover
{background-position:right -47px!important;}


 .box .box-content ul li{ padding-right:0; margin-right:0;}
.box .box-content ul li a, #content .content ul li a , .box .box-content ul li a + a{ 
	background: url("../../image/megnor/rtl/cate_icon_rtl.png") no-repeat scroll right 6px;
    padding-right: 12px; 
}
.box .box-content ul li a:hover, #content .content ul li a:hover , .box .box-content ul li a + a:hover{
	background: url("../../image/megnor/rtl/cate_icon_rtl.png") no-repeat scroll  right -33px;
}
ul.box-category > li a.active + ul , .box .box-content ul ul{ margin-left:0; margin-right:0; padding-right:15px }
ul.box-category > li ul > li > a{
	background: url("../../image/megnor/rtl/cate_icon_rtl.png") no-repeat scroll right 9px!important;
    padding-right: 12px;
}
ul.box-category > li ul > li > a:hover{
	background: url("../../image/megnor/rtl/cate_icon_rtl.png") no-repeat scroll  right -30px!important; 
}
.ie7 #footer .column li a{ float:right; }
#footer .column li a{
	background: url("../../image/megnor/rtl/cate_icon_rtl.png") no-repeat scroll  right 6px;
    padding-right: 12px;
	padding-left:0;
	}
#footer .column li a:hover{	background: url("../../image/megnor/rtl/cate_icon_rtl.png") no-repeat scroll  right -33px;}
#footer .custom_footer_main .column li a:hover{background:none;}
.toggle.active .mobile_togglemenu {    background-position: left -48px;}

.product-grid li, #content .box-product .product-items{ float:right; }
.category-info .image{ float:right; margin-left:10px; }
#column-left .box-product .image, #column-right .box-product .image{ float:right;   margin-left: 7px; margin-right:0; }
#column-left .box-product .rating, #column-right .box-product .rating, #column-left .box-product .name, #column-right .box-product .name, #column-left .box-product .price, #column-right .box-product .price, #column-left .box-product .cart, #column-right .box-product .cart{ margin-right:61px; margin-left:0; }
.customSelectInner , .customSelectOpen .customSelectInner{ background-position:left center; } 
.product-list .right{ float:right;margin-left: 0px; margin-right:15px; text-align:right;}
.product-list .image {    float: right;    margin-left: 10px; margin-right:0; }
.product-info > .left {    float: right;    margin-right: 0px; margin-left:15px; }
.product-info > .left + .right {  margin-right: 340px;   margin-left:0px;}
.zoomWindow	{ left:auto !important; right:325px!important;}
.product-compare{ float:right; margin-right:15px; }
.product-filter .limit{ float:left; margin-left:0; margin-right:15px; }
.product-info .review a.review-write{ background-position:right center; padding-left:0; padding-right:20px;}
 .htabs a{ margin-left:3px; margin-right:0; float:right; }
.captch_input{ float:right; margin:4px 0 0 7px !important; }

.contact-info .address, .contact-info .telephone, .contact-info .fax {
    clear: both;
    float: right;
    padding: 1px 45px 2px 0;
}

.contact-info .telephone {  background-position: right -317px;}
.contact-info .address {  background-position: right -237px;}
.contact-info .fax {    background-position: right -273px;    padding: 1px 45px 1px 0;}


.product-carousel .slider-wrapper-outer{ direction:ltr !important; } 
#topcontrol{ right:auto !important; left:10px !important; } 
.ie7 .product-info .additional-carousel{ float:left; }
#welcome {float: left;}
.header_top .links {float: right;}
.main-menu > ul > li{border-right:none!important; border-left: 1px dotted #777;}
.main-menu > ul > li a.menu-home{background:url("../../image/megnor/home.png") no-repeat scroll right center transparent!important}

.flexslider{float:right;}
#vertical_latest_product #newproduct_slider_center{  margin-left: 0px;margin-right:9px;}
#newproduct_slider_center #ui-carousel-prev,
#newproduct_slider_center #ui-carousel-next
{/*right:auto;left:4px;*/}
#footer .column
{
	float:right;
	background:url("../../image/megnor/footer_dotted_line.png") repeat-y scroll left 0 transparent!important;
    margin-right:0px;
	margin-left:20px;
    padding: 0 0px 0 19px;
}
#footer #social_block, #footer .paiement_logo_block{padding:0;}
#footer-container #footer .paiement_logo_block{background:none!important;margin-left:0;margin-right:5px;}
#footer .custom_footer_main{background:none!important; margin-left: 0; padding: 0 !important;}

#bottomfooter ul li
{
	background:url("../../image/megnor/footer_pipe.jpg") no-repeat scroll right center !important;
	margin: 0 2px;
    padding: 0 9px 0 5px!important;
}
#bottomfooter ul li.first{background:!important;}
#footer-container #footer #social_block,
#footer-container #footer .paiement_logo_block{padding:0!important;}
.main-menu > ul > li ul > li:hover > a.activSub{background:url("../../image/megnor/rtl/menu_drop_hr_rtl.png") no-repeat scroll left center;}
.product-list .cart,.product-list .price{float:right;}
.product-list .price{margin-left:0;margin-right:10px;}

.pagination .links{margin:0 0 0 7px;}
.pagination .results{margin:3px 8px 0 0px!important;}
.product-filter .limit
{
	margin-left: 15px!important;    margin-right: 0px!important;
}
.language_div, .currency_div{left:auto;right:0;}
#welcome a{background:url("../../image/megnor/headre_pipe.jpg") no-repeat scroll right center !important;padding:0 9px 0 5px!important;}
.header_top .links a{background:url("../../image/megnor/headre_pipe.jpg") no-repeat scroll right center !important;padding:0 4px 0 7px!important;}
#footer #social_block, #footer .paiement_logo_block{float:right!important;}
#bottomfooter ul li.first {background: none !important;}

@media only screen and (min-width: 980px) and (max-width: 1024px) 
{
	#column-left + #content{margin-right:190px;}
}
 
@media only screen and (min-width: 980px) and (max-width: 1024px)
{
	.product-filter .limit{ margin-right: 15px!important;}
	.product-list .right {width: 510px;}
}
@media only screen and (max-width: 979px) {
 
	.nav-responsive .expandable{ float:left; margin-right:0; margin-left:10px;  }
	.nav-responsive div, .responsive-menu .hitarea{ margin-left:10px; margin-right:0; }
	 .responsive-menu .main-navigation ul{ padding-right:20px; padding-left:0; }
	.nav-responsive div, .responsive-menu .hitarea{ float:left; }
	.toggle .mobile_togglemenu{ background-position: left 4px; }
	#column-left + #content{ margin-right:175px; }
	#banner1{ float:right;}
	
	.flexslider {float:none;}
	#footer .column{background:none!important; margin-left: 0 !important;padding-left: 0 !important;}
	#footer-container #footer .paiement_logo_block{margin-right:0;}
	.page_product #content .product-info .right .customSelect, .page_product #content .product-info .right .hasCustomSelect{width:auto!important;}
}

@media only screen and (max-width: 767px) {
	#currency, #language{ border-left: 1px solid #FFFFFF;border-right:none; }
	.tm_headerlinkmenu{margin-left: -2px; margin-right:0;}
	#header #cart .heading{ float:none !important;}
	#header #cart .content{  float:none !important; margin:0 auto;}
	#header .header_links{ left:0; right:auto; }
	#header #search{  margin-right:0;}
	.product-info > .left {  float: none; margin: 0 auto 10px;  }
	.product-info > .left + .right {    margin-right: 0;}
	.htabs a{ float:none; margin-left:0;} 
	
	.tm_headerlinkmenu{float:left!important;}
	#header #search{right:0!important;}
	.page_product #content .product-info .right input{width:auto!important;}
	#column-left + #content {margin-right: 0;}
	.product-filter .limit{margin-right:10px!important;}
	.pagination .links{margin-left:10px!important;}
	
}
@media only screen and (max-width: 479px) {
	 

	  #powered {margin: 20px auto!important;}
	  .product-compare {float: left!important;}
	  .sort .customSelectInner {    width: 100px !important;}
 }
 
 @media only screen and (max-width: 319px){.pagination .results{float:left!important;}}